@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.parra1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 78.66px;
    color: #0a2ff1;
    margin-bottom: 0%;
}

.parra2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 78.66px;
    color: #0a2ff1;
    margin-top: 0%;
}

.parra3{
    margin-bottom: 0;
    
}

.socialme{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #3ffff3;
}

p{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 30.66px;
    color: #0a2ff1;
}

.fondo{
    position: relative;
    top: 300px;
}

.celu{
    position: absolute;
    bottom: 0px;
}

.imgfondo{
    width: 730px;
    height: 800px;
}


    
    
    
    



   

