@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');



.primera, .tercera, .quinta {
    background-color: black;
    color: white;
    text-align: center;
}

.segunda, .cuarta{
    color: black;
    text-align: center;
}

body{
    margin: 0%;
    border-style: groove;
    border-color: black;
    
}
    
.primera{
    font-size: 66.66px;
    margin: 0%;
    padding: 90px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.segunda{
    font-size: 197.33px;
    padding: 0px;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.tercera{
    font-size: 217.33px;
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    padding: 10%;
    font-weight: bold;
   
}

.cuarta{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    padding: 0px;
    font-weight:lighter ;
}

.quinta{
    font-size: 58.66px;
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    padding: 60px; 
}

strong{
    font-family: 'Montserrat'
}

b{
    font-weight: lighter;
}


    

    
    

    
    


