@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

body{
    background-image: url(Ejercicio1/M4-desafio1-fondo.png );
}

.login{
    display: grid;
    place-items: center;
}

h1{
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 32.64px;
    color: #04146c;
    text-align: center;
}

input, button{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 22.66px;
    color: #414166;
    box-sizing: border-box;
    display: block;
    width: 500px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
}

button{
    font-weight: 600;
    background-color: #15163d;
    color: white;
}

.formulario{
    padding: 30px;
    width: 50%;
    background-image: url(Ejercicio1/M4-desafio1-fondo-form.png);
    display: grid;
    place-items: center;
    margin: 0 auto;
    min-width: 750px;
}

form{
    width: 600px;
    height: 400px;
    padding: 20px;
    background-color: white;
    
}


    
    

  